body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 0 0;
}

li {
  display: inline;
}

.top-left {
  display: inline-block;
  float: left;
  padding-left: 15px;
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

.top-left:hover {
  text-decoration: underline;
}

.top-right {
  display: inline-block;
  float: right;
  padding-right: 15px;
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

.top-right:hover {
  text-decoration: underline;
}

.logo {
  text-align: center;
  padding: 170px 0px 25px 20px;
}

.search-area {
  text-align: center;
}

.google-search-bar {
  border-radius: 25px;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  width: 35em;
  height: 45px;
}

.google-search-bar:hover {
  box-shadow: 1px 2.5px 2px 2px lightgrey;
}

.buttons {
  text-align: center;
  padding-top: 15px;
}

.gbut {
  height: 35px;
  width: 125px;
  border-radius: 5px;
  border-style: none;
  opacity: 0.8;
}

.gbut:hover {
  border: 1px solid lightgray;
  box-shadow: 1px 1px lightgray;
}

p {
  text-align: center;
  padding-bottom: 200px;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid lightgray;
  line-height: 42px;
}

.bottom-left {
  text-decoration: none;
  float: left;
  padding-left: 13px;
  opacity: 0.75;
  font-size: 14px;
  color: black;
  position: relative;
  bottom: 10px;
}

.bottom-right {
  text-decoration: none;
  float: right;
  padding-right: 13px;
  opacity: 0.75;
  font-size: 14px;
  color: black;
  position: relative;
  bottom: 10px;
}

.bottom-left:hover {
  text-decoration: underline;
}

.bottom-right:hover {
  text-decoration: underline;
}
